@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,200);
* {
  margin: 0;
  padding: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #494d5f;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: #e5eaf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  background: #2b2e39;
  position: relative;
}

.dial {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 208px;
  height: 208px;
  border-radius: 50%;
  background: #15171c;
}

.spin {
  position: absolute;
  left: 8px;
  top: -3.2px;
  transform: rotate(-90deg);
  transform-origin: center;
}
.spin svg {
  width: 204.8px;
  height: 204.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: none;
}
.spin svg circle {
  stroke-width: 3px;
  stroke: #8458b3;
  stroke-linecap: round;
  stroke-dasharray: 590;
  stroke-dashoffset: 590;
  animation: seconds-spin 2s linear infinite;
}

.seconds {
  position: absolute;
  top: 49.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 176px;
}

.points-set-0 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(0* 6deg));
}

.points-set-1 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(1* 6deg));
}

.points-set-2 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(2* 6deg));
}

.points-set-3 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(3* 6deg));
}

.points-set-4 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(4* 6deg));
}

.points-set-5 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(5* 6deg));
}

.points-set-6 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(6* 6deg));
}

.points-set-7 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(7* 6deg));
}

.points-set-8 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(8* 6deg));
}

.points-set-9 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(9* 6deg));
}

.points-set-10 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(10* 6deg));
}

.points-set-11 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(11* 6deg));
}

.points-set-12 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(12* 6deg));
}

.points-set-13 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(13* 6deg));
}

.points-set-14 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(14* 6deg));
}

.points-set-15 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(15* 6deg));
}

.points-set-16 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(16* 6deg));
}

.points-set-17 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(17* 6deg));
}

.points-set-18 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(18* 6deg));
}

.points-set-19 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(19* 6deg));
}

.points-set-20 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(20* 6deg));
}

.points-set-21 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(21* 6deg));
}

.points-set-22 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(22* 6deg));
}

.points-set-23 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(23* 6deg));
}

.points-set-24 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(24* 6deg));
}

.points-set-25 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(25* 6deg));
}

.points-set-26 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(26* 6deg));
}

.points-set-27 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(27* 6deg));
}

.points-set-28 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(28* 6deg));
}

.points-set-29 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(29* 6deg));
}

.points-set-30 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: rotate(calc(30* 6deg));
}

.point {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #e5eaf5;
}

.watch-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12.8px;
  text-align: center;
}

.date {
  text-transform: uppercase;
}

.time {
  font-size: 44.8px;
  font-weight: 600;
  line-height: 3rem;
}

.health div {
  display: inline;
  position: relative;
  margin-left: 5px;
}

.heartrate {
  margin-right: 6.4px;
}

.heart {
  position: relative;
  right: 10px;
  top: 4px;
  width: 12.5px;
  height: 11.25px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 7px;
  height: 10px;
  border-radius: 50px 50px 0 0;
  background: #8458b3;
  animation: beat 1s linear infinite;
}

.heart::before {
  left: 6.25px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes seconds-spin {
  0%, 100% {
    stroke-dashoffset: 590;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.001% {
    stroke-dashoffset: 1180;
  }
}
@keyframes beat {
  0%, 100% {
    width: 7.7px;
    height: 11px;
  }
  50% {
    width: 7px;
    height: 10px;
  }
}
@keyframes beath {
  0%, 100% {
    left: 5.25px;
  }
  50% {
    left: 6.25px;
  }
}

/*# sourceMappingURL=style.css.map */
